.popup__content {
  width: 330px;
  min-height: 230px;
  background-color: rgba(5, 16, 39, .9);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}
